{% extends "base.html" %}
{% block body %}
  <div class="container">
    <form action="/addvoltas" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1"><b style="color: rgb(27, 2, 2);">ITEM ID</b></label>
            <input type="text" class="form-control" name="item" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter Item">

        </div>
        
        
        <div class="form-group">
            <label for="exampleInputEmail1"><b style="color: rgb(27, 2, 2);">QUANTITY</b></label>
            <input type="text" class="form-control" name="qty" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter Quantity">

        </div>

        <div class="form-group">
            <label for="exampleInputPassword1"><b style="color: rgb(27, 2, 2);">DP</b></label>
            <input type="number" class="form-control" name="dp" id="exampleInputPassword1" placeholder="enter DP">
        </div>

        
        <div class="form-group">
            <label for="exampleInputEmail1"><b style="color: rgb(27, 2, 2);">RETAIL</b></label>
            <input type="text" class="form-control" name="rtl" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter Retail">

        </div>
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}